<nav class="footer-desktop">
  <div class="footer-logo-links">
    <a class="footer-logo media_link" href="{{ site.url }}">
      <img src="{{ site.baseurl }}/assets/img/logos/17i-logo.svg" alt="18F">
    </a>
    <!-- <a class="footer-logo media_link" href="http://www.gsa.gov/">
      <img src="{{ site.baseurl }}/assets/img/logos/gsa-logo.svg" alt="GSA">
    </a> -->
  </div>
  <div class="footer-links">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/what-we-deliver/">What we deliver</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/hire/">Hire 17I</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/join/">Join 17I</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog/">Blog</a>
      </li>
    </ul>
  </div>
  <div class="footer-links">
    <h2 class="footer-links-heading">Policies and Standards</h2>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/developer">/developer</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/linking-policy/">Linking policy</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/open-source-policy/">Open source policy</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/code-of-conduct/">Code of conduct</a>
      </li>
    </ul>
  </div>
  <div class="footer-links">
    <h2 class="footer-links-heading">Contact us</h2>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/press/">Press</a>
      </li>
      <li>
        <a href="https://twitter.com/code4sac">@code4sac</a>
      </li>
      <li>
        <a href="mailto:17I@codeforsacramento.org">17I@codeforsacramento.org</a>
      </li>
      <li>
        <a href="https://github.com/code4sac/17i.codeforsacramento.org/edit/gh-pages/{{ page.path }}">Edit on GitHub</a>
      </li>
    </ul>
  </div>
</nav>
