<a class="skipnav" href="#main-content">Skip to main content</a>
<header role="banner">
  <div class="usa-disclaimer">
    <div class="usa-disclaimer-official usa-grid">
      <img src="" alt="">
      <p>A <a href="http://codeforsacramento.org" target="_blank">Code for Sacramento</a> prototype</p>
    </div>
  </div>
  <div class="site-navbar usa-grid">
    <button class="menu-btn">Menu</button>
    <a class="site-logo media_link" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logos/17i-logo.svg" alt="18F"
      {% if page.url == '/' %}
        aria-hidden="true"
      {% endif %}
      ></a>
    {% if page.url == '/' %}
      <h1 class="usa-sr-only">Eighteen F: Digital services delivery</h1>
    {% endif %}
    <nav role="navigation">
      {% include navigation.html %}
    </nav>
  </div>
</header>
<div class="overlay"></div>
